{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">

{% endblock %}

{% block main %}
    <div class="box box-danger">
        <input type="hidden" id="title" value="{{ title }}"/>
        <div>
            {% for obj in all %}
                <hr>
                {#                <h2>第{{ forloop.counter }}篇：</h2>#}
                <h2>标题：{{ obj.title }}</h2>
                {#                <h2>发布者：{{ obj.publisher }}</h2>#}
                {#                <h3>备注：{{ obj.comments }}</h3>#}
                <div>&nbsp;</div>
                {#                <div>&nbsp;</div>#}
                <hr>
                {#                <div>&nbsp;</div>#}

                {{ obj.desc_pack | safe }}

            {% endfor %}
        </div>
        <div style="margin-left: 36% ;margin-top: 3%">
            {% if result %}
                <div style="font-size: large; color: #c9302c">{{ errmsg }}</div>
                {% if flag %}
                    <div>
                        <button type="button" id="btnAdd" class="btn btn-info">
                            <i class="glyphicon glyphicon-import"></i>现在添加
                        </button>
                    </div>
                {% endif %}
            {% endif %}
        </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    {#    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>#}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>

    <script>
        //新增
        $("#btnAdd").click(function () {
            var title = $('#title').val();
            layer.open({
                type: 2,
                title: '测试说明添加',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '750px'],
                {#content: "{% url 'system:basic-word-update' %}",#}
                content: ["{% url 'testManage:is-current-word' %}" + '?title=' + title],
                end: function () {

                    oDataTable.ajax.reload();
                }
            });
        });

    </script>
{% endblock %}
