{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <div>
            {% for obj in all %}
                <hr>
                {#                <h2>第{{ forloop.counter }}篇：</h2>#}
                <h2>标题：{{ obj.title }}</h2>
                {#                <h2>发布者：{{ obj.publisher }}</h2>#}
                <h3>备注：{{ obj.comments }}</h3>
                <div>&nbsp;</div>
{#                <div>&nbsp;</div>#}
                <hr>
                {#                <div>&nbsp;</div>#}

                {{ obj.desc_pack | safe }}

            {% endfor %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>


{% endblock %}
