{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    {#    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">#}
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form action="" method="post">
            <table>
                {{ form.as_table }}
            </table>
            <input type="submit" value="提交">
        </form>
    </div>

{% endblock %}

{#{% block javascripts %}#}
{#    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>#}
{#    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>#}
{#    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>#}
{#    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>#}
{##}
{#    <script type="text/javascript">#}
{#$('#title').click(function () {#}
{#    console.log(1111)#}
{# })#}
{##}
{#function beforeSubmit(form) {#}
{#    alert('用户名不能为空！');#}
{#    alert(form.title.value);#}
{##}
{#    if (form.title.value == '') {#}
{#        alert('用户名不能为空！');#}
{#        form.username.focus();#}
{#        return false;#}
{#    }#}
{# }#}
{#$(document.body).css({overflow: 'hidden'});#}
{#    </script>#}
{##}
{#{% endblock %}#}
