{% extends "base-left.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
        .layui-card-header {
        {#float: left;#} font-size: large;
        }
    </style>
{% endblock %}

{% block content %}

    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15" style="height: 900px">

            <div class="layui-col-md8 ">
                <div class="layui-row layui-col-space10 ">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header">公告栏</div>
                            <div class="layui-card-body" style=" height:450px; overflow:auto;">
                                <table class="layui-table" lay-skin="line">
                                    <thead>
                                    <tr>
                                        <th>發佈者</th>
                                        <th>標題</th>
                                        <th>內容</th>
                                        <th>發佈時間</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if datas %}
                                        {% for data in datas %}
                                            <tr>
                                                <td style="color:#040202; width: 12%">{{ data.relUser }}</td>
                                                <td style="color:#060001; width: 12%">{{ data.tag }}</td>
                                                <td style="color:#0000ff; width: 55%">{{ data.relContent }}</td>
                                                <td style="color:#0d0101;">{{ data.relDate }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4" style="color:cornflowerblue;">今日無公告</td>
                                        </tr>

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md12">
                        <div class="layui-card" style="height: 150px">
                            <div class="layui-card-header"><a href="/dqe/testManage/is/currenttest">今日测试</a></div>
                            <div class="layui-card-body">

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md4">
                        <div class="layui-card" style="height: 189px">
                            <div class="layui-card-header">版本概览</div>
                            <div class="layui-card-body">
                                郭文娜1.1<br>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card" style="height: 189px">
                            <div class="layui-card-header">考勤概览</div>
                            <div class="layui-card-body">
                                郭文娜迟到<br>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card" style="height: 189px">
                            <div class="layui-card-header">值日概览</div>
                            <div class="layui-card-body">
                                郭志航刷碗拖地<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md2">
                <div class="layui-card" style="height: 850px">
                    <div class="layui-card-header">工程师今日排名</div>
                    <div class="layui-card-body" style=" align:center ; height:800px; overflow:auto;">
                        <table class="layui-table" lay-skin="row" id="usedTable" lay-filter="used">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>次数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if sub_count %}
                                {% for data in sub_count %}
                                    <tr>
                                        <td>{{ data.sub_per }}</td>
                                        <td>{{ data.count }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="layui-col-md2">
                <div class="layui-card" style="height: 850px">
                    <div class="layui-card-header">测试员今日排名</div>
                    <div class="layui-card-body" style=" height:800px; overflow:auto;">
                        <table class="layui-table" lay-skin="row" id="usedTable" lay-filter="used">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>次数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if count %}
                                {% for data in count %}
                                    <tr>
                                        <td>{{ data.find_per }}</td>
                                        <td>{{ data.count }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>



    <!-- <script src="//res.layui.com/layui/dist/layui.js" charset="utf-8"></script> -->
    <!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
    <!-- <script type="text/javascript">
         layui.use(['element', 'table', 'form', 'jquery', 'layer', 'laypage'], function () {
                var $ = layui.jquery;
                var element = layui.element;
                var form = layui.form;
                var upload = layui.upload;
                var laypage = layui.laypage;
                var layer = layui.layer;
                var table = layui.table;

                // 表格渲染
                table.render({
                    elem: '#usedTable',
                    url: '', //数据接口
                    id: 'usedTable',
                    height: 'auto',
                    width: 800,
                    align: 'right',
                    loading: true,
                    page: true,
                    limit: 20,
                    limits: [20, 30, 50],
                    cols: [
                        [{
                                field: 'id',
                                width: '10%',
                                align: 'center',
                                title: 'ID',
                                sort: true,
                                fixed: 'left',
                                templet: '#titleid'
                            },

                            {
                                field: 'project',
                                width: '40%',
                                align: 'center',
                                title: 'Project'
                            },

                            {
                                field: 'build',
                                width: '40%',
                                align: 'center',
                                title: 'Build'
                            },

                            {
                             fixed: 'right',
                             align: 'center',
                             title: 'Action',
                             toolbar: '#barDemo',
                             width: '10%'
                         }
                        ]
                    ]
                });

    </script>
     -->


{% endblock %}


{% block javascripts %}

{% endblock %}
