{% extends "base-left.html" %}
{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
        .layui-card-header {
        {#float: left;#} font-size: large;
        {#    border: solid 1px #eee;#}
        }
    </style>
{% endblock %}

{% block content %}

    <div style="padding: 20px; background-color:#c5c5c5; margin-top: 2%">
        <div class="layui-row layui-col-space15" style="height: 850px">

            <div class="layui-col-md8 ">
                <div class="layui-row layui-col-space10 ">
                    <div class="layui-col-md12">
                        <div class="layui-card">
                            <div class="layui-card-header"><span> <i class="fa fa-twitch"></i>  公告栏</span></div>
                            <div class="layui-card-body" style=" height:450px; overflow:auto;">
                                <table class="layui-table" lay-skin="line">
                                    <thead>
                                    <tr>
                                        <th>發佈者</th>
                                        <th>標題</th>
                                        <th>內容</th>
                                        <th>發佈時間</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if datas %}
                                        {% for data in datas %}
                                            <tr>
                                                <td style="color:#040202; width: 12%">{{ data.relUser }}</td>
                                                <td style="color:#060001; width: 12%">{{ data.tag }}</td>
                                                <td style="color:#0000ff; width: 55%">{{ data.relContent }}</td>
                                                <td style="color:#0d0101;">{{ data.relDate }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% else %}
                                        <tr>
                                            <td colspan="4" style="color:cornflowerblue;">今日無公告</td>
                                        </tr>

                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md12">
                        <div class="layui-card" style="height: 100px">
                            <div class="layui-card-header"><span><i class="fa fa-text-height"></i>  今日测试 </span></div>
                            <div class="layui-card-body">
                                {% if arrange %}
                                    {% for arr in arrange %}
                                        <tr>
                                            <td><a href="{% url 'testManage:is-currenttest' %}"><span
                                                    style="color: #0063dc">{{ arr.comments }} ,  </span></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="4"><span style="color: #666666;">今日还未上传测试</span></td>
                                    </tr>

                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md4">
                        <div class="layui-card" style="height: 189px">
                            <div class="layui-card-header"><span><i class="fa fa-list"></i>  版本概览</span></div>
                            <div class="layui-card-body" style=" margin-left: -3%;height:140px;overflow:auto;">
                                <table class="layui-table" lay-skin="nob" id="usedTable" lay-filter="used"
                                       style="margin-top: -3%">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    {% if version %}
                                        {% for ver in version %}
                                            <tr>
                                                <td style="margin-left: 3%;font-size: xx-small">{{ ver.date|date:'Y-m-d' }}</td>
                                                <td style="font-size: xx-small">{{ ver.version }}</td>
                                                <td style="font-size: xx-small">{{ ver.platform }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card" style="height: 189px">
                            <div class="layui-card-header"><span><i class="fa fa-list"></i>  考勤概览</span></div>
                            <div class="layui-card-body" style=" align:center;height:140px;overflow:auto;">
                                <table class="layui-table" lay-skin="nob" id="usedTable" lay-filter="used"
                                       style="margin-top: -3%">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    {% if abnormal %}
                                        {% for data in abnormal %}
                                            <tr>
                                                <td style="font-size: x-small">{{ data.username__name }}</td>
                                                <td style="font-size: x-small">{{ data.endTime }}</td>
                                                <td style="font-size: x-small">{{ data.lengh_time }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md4">
                        <div class="layui-card" style="height: 189px">
                            <div class="layui-card-header"><span><i class="fa fa-list"></i>  值日概览</span></div>
                            <div class="layui-card-body" style=" align:center;height:140px;overflow:auto;">
                                <table class="layui-table" lay-skin="nob" id="usedTable" lay-filter="used"
                                       style="margin-top: -3%">
                                    <thead>
                                    </thead>
                                    <tbody>
                                    {% if duty %}
                                        {% for du in duty %}
                                            <tr>
                                                <td style="font-size: x-small">{{ du.weekend }}</td>
                                                <td style="font-size: x-small">{{ du.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="layui-col-md2">
                <div class="layui-card" style="height: 800px">
                    <div class="layui-card-header"><span><i class="fa fa-user-circle-o"></i> 工程师今日排名</span></div>
                    <div class="layui-card-body" style=" align:center ; height:750px; overflow:auto;">
                        <table class="layui-table" lay-skin="row" id="usedTable" lay-filter="used">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>次数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if sub_count %}
                                {% for data in sub_count %}
                                    <tr>
                                        <td>{{ data.name }}</td>
                                        <td>{{ data.count }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="layui-col-md2">
                <div class="layui-card" style="height: 800px">
                    <div class="layui-card-header"><span><i class="fa fa-user-circle-o"></i> 测试员今日排名</span></div>
                    <div class="layui-card-body" style=" height:750px; overflow:auto;">
                        <table class="layui-table" lay-skin="row" id="usedTable" lay-filter="used">
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>次数</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if count %}
                                {% for data in count %}
                                    <tr>
                                        <td>{{ data.find_per }}</td>
                                        <td>{{ data.count }}</td>
                                    </tr>
                                {% endfor %}
                            {% endif %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}


{% block javascripts %}

{% endblock %}
