{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link href="{% static 'jquery.bsgrid-master/plugins/bootstrap/2.3.2/css/bootstrap-responsive.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/builds/css/skins/grid_bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">#}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <style>

        .bsgrid_form table {
            width: 100%;
            border-collapse: collapse;
        {#margin-top: 10%;#}
        }

        .bsgrid_form table td {
            padding: 4px;
            line-height: 150%;
            border: solid 1px #eee;
        }

        .read_only {
            border: 1px solid rgb(171, 173, 179);
            width: 64%;
        }

    </style>

{% endblock %}
{% block content %}

    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-header">
                    <form class="form-inline" id="queryForm">
                        <button type="button" onclick="btnExport()" class="btn btn-success btn-group pull-right"
                                style="margin-left: 3%">导入
                        </button>
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <button type="button" onclick="doAdd()" class="btn btn-info btn-group pull-left">新增
                            </button>
                        </div>
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <button type="button" id="SaveUpdate"
                                    class="btn btn-info btn-group pull-left">保存修改
                            </button>
                        </div>

                    </form>
                    <div id="upload" style="display: none">
                        <form method="post" enctype="multipart/form-data" id="qwer" onsubmit="return false">
                            {% csrf_token %}
                            </br>
                            </br>
                            <label class="control-label">Select File</label>
                            <input type="file" name="file" class="file" id="input-1">
                        </form>

                    </div>
                </div>

                <div class="box-body">
                    <table id="searchTable" style="width: 100%">
                        <thead>
                        <tr>
                            <th w_index="id">ID</th>
                            <th w_index="date">日期</th>
                            <th w_index="group">组别</th>
                            <th w_index="find_per">发现人</th>
                            <th w_index="sub_per">提报人</th>
                            <th w_index="radar_id" w_edit="text">Radar ID</th>
                            <th w_index="desc" w_edit="text">描述</th>
                            <th w_index="comments" w_edit="text">备注</th>
                            <th w_index="id" w_render="operate" width="3%;">操作</th>
                        </tr>
                        </thead>
                    </table>
                    <div id="layer-gridForm" style="display: none;">
                        <form id="gridForm" class="bsgrid_form">
                            <table>
                                <tr showType="false">
                                    <td class="formLabel">ID:</td>
                                    <td class="formInput"><input name="ID" disabled="disabled" type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel"><span class="require">*</span>日期:</td>
                                    <td>
                                        <input name="date" id="date" readonly=”readonly” type="text" class="read_only"
                                               value="{{ time }}"/>
                                        {#                                        <span class="inputTip" showType="add">Must unique</span>#}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formLabel">组别:</td>
                                    <td><input name="group" type="text" readonly=”readonly” class="read_only"
                                               value="{{ user.department }}"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel">发现人:</td>
                                    <td>
                                        <input name="find_per" type="text" class="read_only"
                                               value="{{ user.name }}" readonly=”readonly”/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formLabel">提报人:</td>
                                    <td class="formInput"><input name="sub_per" type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel">Radar ID:</td>
                                    <td class="formInput"><input name="radar_id" type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel">描述:</td>
                                    <td class="formInput"><input name="desc" type="text"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel">备注:</td>
                                    <td class="formInput"><input name="comments" type="text"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2"
                                        style="text-align: center; border-left-width: 0; border-right-width: 0; border-bottom-width: 0;">
                                        <input type="button" value="Save" onclick="doCommit();"/>
                                        &emsp;
                                        <input type="button" value="Cancel"
                                               onclick="$('#layui-layer' + layerGridFormIndex).hide();"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                    <form id="addOptions" class="form-horizontal" method="post">
                        <input type="text" class="hidden" id="id" name="id"/>
                        <input type="text" class="hidden" id="radar_id" name="radar_id"/>
                        <input type="text" class="hidden" id="desc" name="desc"/>
                        <input type="text" class="hidden" id="comments" name="comments"/>
                    </form>


                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    {#    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>#}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/js/lang/grid.zh-CN.min.js' %}"></script>

    <script src="{% static 'bootstrap/fileinput.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput_locale_zh.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>


    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>


    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#TEST-BUG').addClass('active');
            $('#TEST-BUG-BUGREGISTER').addClass('active');

        });

    </script>
    <script>
        var gridObj;
        var gridFormObject;
        var layerGridFormIndex;
        $(function () {
            gridObj = $.fn.bsgrid.init('searchTable', {
                url: "{% url 'testManage:bug-bugregister-list' %}",   //json文件url
                ajaxType: 'POST',      //请求方式
                pageSizeSelect: true,   //是否显示分页大小选择下拉框，默认false
                autoLoad: true,
                pageSize: 20,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                pageName: 'pageIndex', //页码的参数名称，默认：page
                ageAll: false,
                displayBlankRows: false,//不显示空白行
                extend: {
                    settings: {
                        supportGridEdit: true, // default false, if support extend grid edit
                        supportGridEditTriggerEvent: 'rowClick', // default 'rowClick', values: ''(means no need Trigger), 'rowClick', 'rowDoubleClick', 'cellClick', 'cellDoubleClick'
                    }
                },//分页大小，默认20
            });
            if ($('#layer-gridForm').length == 1) {
                var gridFormHtml = $("#layer-gridForm").html();
                $("#layer-gridForm").html('');
                layerGridFormIndex = layer.open({
                    type: 1,
                    title: '新增',
                    shade: false,
                    area: ['400px', '380px'],
                    content: gridFormHtml,
                    cancel: function (index) {
                        $('#layui-layer' + index).hide();
                        return false;
                    }
                });
                $('#layui-layer' + layerGridFormIndex).hide();
            }
            {#btnSearch();#}
            gridFormObject = $.fn.bsgrid_form.init('gridForm', {});

            doAdd();
        });

        {#function btnSearch() {#}
        {#    var tester = $('#tester').val();#}
        {#    var wgt_no = $('#wgt_no').val();#}
        {#    data_dict = {'tester': tester, 'wgt_no': wgt_no};#}
        {#    gridObj.search(data_dict);#}
        {# }#}

        function doAdd() {
            $('#gridForm')[0].reset();  // 重置表单
            showFormDialog('add');
        }

        function doCommit() {
            var type = gridFormObject.options.formType;
            if (type == 'view') {
                alert('This is view.');
            } else if (type == 'add') {
                {#alert($('#gridForm').serialize() + '&formType=' + type);#}
                data = $('#gridForm').serialize();
                $.ajax({
                    type: "POST",
                    url: "{% url 'testManage:bug-bugregister-save' %}",
                    data: data,
                    cache: false,
                    success: function (msg) {
                        if (msg.result) {
                            layer.alert("保存成功", {icon: 1}, function (index) {
                                parent.layer.closeAll(); //关闭所有弹窗
                                {#gridObj.refreshPage();#}
                                window.location.reload();
                            });

                        } else {
                            layer.alert(msg.msg, {icon: 2});
                        }
                        return;
                    }
                });


            } else if (type == 'edit') {
                // editAble false not commit
                alert($('#gridForm :not([editAble="false"])').serialize() + '&formType=' + type);
            } else {
                alert('None.');
            }
        }

        function showFormDialog(type) {
            gridFormObject.showForm(type);
            if (type == 'view') {
                $('#gridForm :button[value=Save]').hide();
            } else {
                $('#gridForm :button[value=Save]').show();
            }
            layer.title(type, layerGridFormIndex)
            $('#layui-layer' + layerGridFormIndex).show();
        }


        function btnExport() {
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '400px'],
                content: $("#upload"),
            });
        }

        // on操作的追加后的元素， click无法选中，用on追踪
        $("#qwer").on("click", ".fileinput-upload-button", function () {
            var form_data = new FormData();
            var file_info = $('#input-1')[0].files[0];
            form_data.append('file', file_info);
            console.log(1232212, form_data);
            $.ajax({
                type: "POST",
                url: "{% url 'testManage:bug-bugregister' %}",
                data: form_data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    {#console.log(msg)#}
                    if (msg.result) {
                        layer.alert(msg.msg, {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            gridObj.refreshPage();
                        });

                    } else {
                        layer.alert(msg.msg, {icon: 2});
                    }
                    return;
                }
            });
        });
        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        //保存修改
        $("#SaveUpdate").click(function () {
            var returnA = 0;
            var records = gridObj.getChangedRowsOldRecords(); // 获取修改行原来的数据
            $.each(gridObj.getRowsChangedColumnsValue(), function (key1, object1) {
                returnA++;
                $('#radar_id').val(records[returnA - 1], radar_id);
                $('#desc').val(records[returnA - 1], desc);
                $('#comments').val(records[returnA - 1], comments);

                var rowIndex = key1.split('_');
                var ArrayID = gridObj.getColumnValue(rowIndex[1], 'id');
                $('#id').val(ArrayID);
                $.each(object1, function (ckey1, cvalue1) {
                    var idName = "#" + ckey1;
                    $(idName).val(cvalue1)

                });
                data = $("#addOptions").serialize();
                console.log(data)
                $.ajax({
                    type: "POST",
                    url: "{% url 'testManage:bug-bugregister-update' %}",
                    data: data,
                    cache: false,
                    {#processData: false,#}
                    {#contentType: false,#}
                    {#dataType: 'JSON',#}
                    success: function (msg) {
                        {#console.log(msg)#}
                        if (msg.result) {
                            {#layer.msg("修改成功", {icon: 1}, function (index) {#}
                            {#    parent.layer.closeAll(); //关闭所有弹窗#}
                            {#    gridObj.refreshPage();#}
                            {# });#}
                            layer.msg("修改成功");
                            gridObj.refreshPage();

                        } else {
                            layer.alert("修改失败", {icon: 2});
                        }
                        return;
                    }
                });
            })
        });

        function operate(record, rowIndex, colIndex, options, options) {
            var ret = '<a href="#" id="confirm" onclick="BtnDelete(' + record['id'] + ');">删除</a>';
            return ret
        }

        function BtnDelete(rowIndex) {
            console.log(rowIndex)
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['Yes', 'No']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'testManage:bug-bugregister-delete' %}",
                        data: {'id': rowIndex},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("删除成功！", {icon: 1});
                                gridObj.refreshPage();
                            } else {
                                layer.alert("删除失败！", {icon: 2});
                            }
                            return;
                        }
                    });


                }
            })
        }

    </script>
{% endblock %}