{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link href="{% static 'jquery.bsgrid-master/builds/css/skins/grid_bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/plugins/bootstrap/2.3.2/css/bootstrap-responsive.min.css' %}"
          rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <style>
        <!--
        新增的table页面

        -->
        .bsgrid_form table {
            width: 100%;
            border-collapse: collapse;
        {#margin-top: 10%;#}
        }

        .bsgrid_form table td {
            padding: 9px;
            line-height: 230%;
            border: solid 3px #eee;
        }

    </style>

{% endblock %}
{% block content %}

    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-header" style="margin-top: 1%">
                    <form class="form-inline" id="queryForm">
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>测试项:</label>
                            <input type="text" name="function" class="form-control form_datetime" id="function">
                        </div>


                        <div class="form-group searchArea margin-r-5 margin-top-5 ">
                            <label>负责人:</label>
                            <input type="text" name="dri" class="form-control inputText" id="dri">
                        </div>
                        <div class="form-group searchArea margin-r-5 margin-top-5 ">
                            <label>测试说明:</label>
                            <input type="text" name="test_iro" class="form-control inputText" id="test_iro">
                        </div>

                        <button type="button" onclick="btnSearch()" class="btn btn-default" style="margin-left: 3%">
                            <i class="glyphicon glyphicon-search"></i>查询
                        </button>

                        <div class="btn-group pull-right">
                            <button type="button" title="保存修改值" onclick="btnExport()"
                                    class="btn btn-success btn-group pull-right"
                                    style="margin-left: 3%"></i>保存
                            </button>
                        </div>
                        <div class="btn-group pull-right">&nbsp</div>
                        <div class="btn-group pull-right">
                            <button type="button" onclick="doAdd()"
                                    class="btn btn-success btn-group pull-right"
                                    style="margin-left: 3%"></i>新增
                            </button>
                        </div>

                    </form>
                    <div id="upload" style="display: none">
                        <form method="post" enctype="multipart/form-data" id="qwer" onsubmit="return false">
                            {% csrf_token %}
                            </br>
                            </br>
                            <label class="control-label">Select File</label>
                            <input type="file" name="file" class="file" id="input-1">
                        </form>

                    </div>
                </div>

                <div class="box-body">
                    <table id="searchTable" style="width: 100%">
                        <thead>
                        <tr>
                            <th w_index="id" width="10%">用例编号</th>
                            <th w_index="function" w_render="fun">测试项</th>
                            <th w_index="dri">负责人</th>
                            <th w_index="desc" w_render="desc_iro">测试说明</th>
                            <th w_index="id" w_render="operate" width="8%;">操作</th>

                        </tr>
                        </thead>
                    </table>

                    <div id="layer-gridForm" style="display: none;">
                        <form id="gridForm" class="bsgrid_form">
                            <table>
                                {#                                <tr>#}
                                {#                                    <td class="formLabel"><span class="require">*</span>用例编号:</td>#}
                                {##}
                                {#                                    <td class="formInput"><input name="id" type="text" style="height: 25%"/></td>#}
                                {#                                </tr>#}
                                <tr>
                                    <td class="formLabel"><span class="require">*</span>测试项:</td>

                                    <td class="formInput"><input name="function" type="text" style="height: 25%"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel"><span class="require">*</span>负责人:</td>

                                    <td class="formInput"><input name="dri" type="text" style="height: 25%"/></td>
                                </tr>
                                <tr>
                                    <td class="formLabel"><span class="require">*</span>测试说明:</td>

                                    <td class="formInput"><input name="desc" type="text" style="height: 25%"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2"
                                        style="text-align: center; border-left-width: 0; border-right-width: 0; border-bottom-width: 0;">
                                        <input type="button" value="Save" onclick="doCommit();"/>
                                        &emsp;
                                        <input type="button" value="Cancel"
                                               onclick="doCancel();"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    {#    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>#}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/js/lang/grid.zh-CN.min.js' %}"></script>

    <script src="{% static 'bootstrap/fileinput.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput_locale_zh.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>


    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>

    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#TEST-IS').addClass('active');
            $('#TEST-IS-CASEMANAGE').addClass('active');

        });

    </script>
    <script>
        var gridObj;
        var gridFormObject;
        var layerGridFormIndex;
        $(function () {
            gridObj = $.fn.bsgrid.init('searchTable', {
                url: "{% url 'testManage:is-casemanage-list' %}",   //json文件url
                ajaxType: 'POST',      //请求方式
                pageSizeSelect: true,   //是否显示分页大小选择下拉框，默认false
                autoLoad: true,
                pageSize: 20,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                pageName: 'pageIndex', //页码的参数名称，默认：page
                ageAll: false,
                displayBlankRows: false,//不显示空白行
                extend: {
                    settings: {
                        supportGridEdit: true, // default false, if support extend grid edit
                        supportGridEditTriggerEvent: '', // default 'rowClick', values: ''(means no need Trigger), 'rowClick', 'rowDoubleClick', 'cellClick', 'cellDoubleClick'
                        gridEditConfigs: {
                            datetime: {
                                build: function (edit, value, record, rowIndex, colIndex, tdObj, trObj, options) {
                                    // Laydate v1.1 may not render display none input, so use onclick
                                    return value + '<input id="date_' + rowIndex + '_' + colIndex + '" class="bsgrid_editgrid_hidden laydate-icon" style="width:12%" value="' + value + '" onclick="viewDatetimeChoose(this)" />';
                                },
                                val: function (formObj) {
                                    return formObj.val();
                                }
                            }
                        }
                    }
                },//分页大小，默认20
            });
            btnSearch();
            gridFormObject = $.fn.bsgrid_form.init('gridForm', {});

            {#doAdd();#}
        });

        function btnSearch() {
            var fun = $('#function').val();
            var dri = $('#dri').val();
            var test_iro = $('#test_iro').val();
            data_dict = {'function': fun, 'dri': dri, 'desc': test_iro};
            gridObj.search(data_dict);
        }

        function doAdd() {
            //清空数据
            $('#gridForm')[0].reset();
            layerGridFormIndex = layer.open({
                type: 1,
                title: '新增',
                shadeClose: false,
                area: ['400px', '380px'],
                content: $('#layer-gridForm'),
                cancel: function (index) {
                    layer.closeAll();
                    return false;
                }
            });

        }

        function doCancel() {
            {#window.location.reload();#}
            layer.closeAll();
        }

        //显示操作功能
        function operate(record, rowIndex, colIndex, options) {
            var ret = '<a href="#" id="btndelete" onclick="btnDelete(' + record.id + ');">删除</a>';
            {#ret = ret + '&nbsp';#}
            {#ret = ret + '&emsp;<a href="#" id="btndelete" onclick="doFused(' + rowIndex + ');">删除</a>';#}
            return ret
        }

        // 显示测试项的数据 将数据变成超链接
        function fun(record, rowIndex, colIndex, options) {
            return '<a href="#" id="btnupdate" onclick="btnFind(' + record.id + ');">' + record.function + '</a>';
        }

        //显示测试说明里的数据
        function desc_iro(record, rowIndex, colIndex, options) {
            return '<a href="#" id="btnDesc" onclick="btnDesc(' + record.id + ');">' + record.desc + '</a>';
        }

        function btnExport() {
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '400px'],
                content: $("#upload"),
            });
        }

        function btnFind(row_id) {
            {#console.log('6666', typeof (row_id));#}
            layer.open({
                type: 2,
                title: "查看测试项",
                closeBtn: 1,
                shadeClose: false,
                area: ['900px', '600px'],
                content: ["{% url 'testManage:is-casefind-list' %}" + "?id=" + row_id],
            });
        }

        function btnDesc(row_id) {
            layer.open({
                type: 2,
                title: "测试说明",
                closeBtn: 1,
                shadeClose: false,
                area: ['800px', '800px'],
                content: ["{% url 'testManage:is-casedesc-list' %}" + "?id=" + row_id],
            });
        }


        // on操作的追加后的元素， click无法选中，用on追踪
        $("#qwer").on("click", ".fileinput-upload-button", function () {
            var form_data = new FormData();
            var file_info = $('#input-1')[0].files[0];
            form_data.append('file', file_info);
            $.ajax({
                type: "POST",
                url: "{% url 'testManage:is-taskarrange' %}",
                data: form_data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert(msg.msg, {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            window.location.reload();
                        });
                    } else {
                        layer.alert(msg.msg, {icon: 2});
                    }
                    return;
                }
            });
        });

        //新增 保存
        function doCommit() {
            data = $('#gridForm').serialize();
            $.ajax({
                type: "POST",
                url: "{% url 'testManage:is-casemodel-insert' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert("保存成功", {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            gridObj.refreshPage();
                        });

                    } else {
                        layer.alert(msg.message, {icon: 2});
                    }
                    return;
                }
            });
        }

        function btnDelete(rowIndex) {
            {#var case_id = $('#case_id').val();#}
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'testManage:is-casedetail-delete' %}",
                        data: {"case_id": rowIndex},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("删除成功", {icon: 1}, function (index) {
                                    parent.layer.closeAll(); //关闭所有弹窗
                                    {#gridObj.refreshPage(); // 刷新整个table#}
                                    window.location.reload();
                                });
                            } else {
                                layer.alert("删除失败", {icon: 2});
                            }
                            return
                        }

                    })
                }
            });
        }


    </script>
{% endblock %}