{% extends 'base-layer.html' %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/fileinput.css' %}">
    <link href="{% static 'jquery.bsgrid-master/builds/css/skins/grid_bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.css' %}" rel="stylesheet">
{% endblock %}

{% block main %}
    <div class="box box-danger">
        <form class="form-horizontal" id="addForm" method="post">
            {% csrf_token %}

            <input type="hidden" name='case_id' id="case_id" value="{{ case.id }}"/>
            {#            <input type="hidden" name='apply_id' value="{{ apply_id }}"/>#}

            <div class="box-body">
                <fieldset>
                    <legend>
                        <h4>具体测试功能-{{ case.function }}</h4>
                        <div class="btn-group pull-right" style="margin-top: -3%">
                            <button type="button" onclick="btnExport()"
                                    class="btn btn-success btn-group pull-right"
                                    style="margin-left: 3%"></i>导入
                            </button>
                        </div>
                        <div class="btn-group pull-right">&nbsp;</div>
                        <div class="btn-group pull-right" style="margin-top: -3%">
                            <button type="button" onclick="btnDelete()"
                                    class="btn btn-warning btn-group pull-right"
                                    style="margin-left: 3%"></i>删除
                            </button>
                        </div>
                        <div class="btn-group pull-right">&nbsp;</div>
                        <div class="btn-group pull-right" style="margin-top: -3%">
                            <button type="button" id="SaveUpdate"
                                    class="btn btn-info btn-group pull-left" style="margin-left: 3%">保存修改
                            </button>
                        </div>
                    </legend>
                    <div class="box-body">
                        <table id="searchTable" style="width: 100% ;margin-top: -3%">
                            <thead>
                            <tr>
                                <th w_index="id" w_hidden="true" width="10%">编号</th>
                                <th w_index="case_id" width="10%">用例编号</th>
                                <th w_index="function" w_edit="text">功能</th>
                                <th w_index="oper_step" w_edit="text">操作步骤</th>
                                <th w_index="expect" w_edit="text">预期结果</th>
                                <th w_index="upload_user" width="10%">上传者</th>
                                <th w_index="id" w_render="operate" width="8%;">操作</th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                </fieldset>

            </div>
        </form>
        <div id="upload" style="display: none">
            <form method="post" enctype="multipart/form-data" id="qwer" onsubmit="return false">
                {% csrf_token %}
                </br>
                </br>
                <label class="control-label">Select File</label>
                <input type="file" name="file" class="file" id="input-1">
            </form>

        </div>
        <form id="addOptions" class="form-horizontal" method="post">
            <input type="text" class="hidden" id="id" name="id"/>
            <input type="text" class="hidden" id="function" name="function"/>
            <input type="text" class="hidden" id="oper_step" name="oper_step"/>
            <input type="text" class="hidden" id="expect" name="expect"/>
        </form>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/combo-select/jquery.combo.select.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/js/lang/grid.zh-CN.min.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput_locale_zh.js' %}"></script>

    <script type="text/javascript">
        var gridObj;
        $(function () {
            gridObj = $.fn.bsgrid.init('searchTable', {
                url: "{% url 'testManage:is-casefun-list' case_id=case.id %}",   //json文件url
                ajaxType: 'POST',      //请求方式
                pageSizeSelect: true,   //是否显示分页大小选择下拉框，默认false
                autoLoad: true,
                pageSize: 10,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                pageName: 'pageIndex', //页码的参数名称，默认：page
                ageAll: false,
                displayBlankRows: false,//不显示空白行
                extend: {
                    settings: {
                        supportGridEdit: true, // default false, if support extend grid edit
                        supportGridEditTriggerEvent: '', // default 'rowClick', values: ''(means no need Trigger), 'rowClick', 'rowDoubleClick', 'cellClick', 'cellDoubleClick'
                        gridEditConfigs: {
                            datetime: {
                                build: function (edit, value, record, rowIndex, colIndex, tdObj, trObj, options) {
                                    // Laydate v1.1 may not render display none input, so use onclick
                                    return value + '<input id="date_' + rowIndex + '_' + colIndex + '" class="bsgrid_editgrid_hidden laydate-icon" style="width:12%" value="' + value + '" onclick="viewDatetimeChoose(this)" />';
                                },
                                val: function (formObj) {
                                    return formObj.val();
                                }
                            }
                        }
                    }
                },//分页大小，默认20
            });
            {#btnSearch();#}
            gridFormObject = $.fn.bsgrid_form.init('gridForm', {});
        });

        {#function btnSearch() {#}
        {#    var tester = $('#tester').val();#}
        {#    var wgt_no = $('#wgt_no').val();#}
        {#    data_dict = {'tester': tester, 'wgt_no': wgt_no};#}
        {#    gridObj.search(data_dict);#}
        {# }#}

        //显示操作功能
        function operate(record, rowIndex, colIndex, options) {
            var ret = '<a href="#" id="btndelete" onclick="deleteFun(' + record.id + ');">删除</a>';
            {#ret = ret + '&nbsp';#}
            {#ret = ret + '&emsp;<a href="#" id="btndelete" onclick="doFused(' + rowIndex + ');">删除</a>';#}
            return ret
        }

        function deleteFun(rowIndex) {

            {#var case_id = $('#case_id').val();#}
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['Yes', 'No']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'testManage:is-testfun-delete' %}",
                        data: {'id': rowIndex},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("删除成功！", {icon: 1});
                                gridObj.refreshPage();
                            } else {
                                layer.alert("删除失败！", {icon: 2});
                            }
                            return;
                        }
                    });


                }
            })
        }

        $("#btnSave").click(function () {
            var data = $("#addForm").serialize();
            $.ajax({
                type: $("#addForm").attr('method'),
                url: "{% url 'dqe:mt-applydetail-update' %}",
                data: data,
                cache: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert('數據保存成功！', {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            oDataTable.ajax.reload();
                        });
                    } else {
                        layer.alert('數據保存失败！', {icon: 5});
                        //$('errorMessage').html(msg.message)
                    }
                    return;
                }
            });
        });


        /*点取消刷新新页面*/
        $("#btnCancel").click(function () {
            window.location.reload();

        });

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        function btnExport() {
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '400px'],
                content: $("#upload"),
            });
        }

        // on操作的追加后的元素， click无法选中，用on追踪
        $("#qwer").on("click", ".fileinput-upload-button", function () {
            var form_data = new FormData();
            var file_info = $('#input-1')[0].files[0];
            var case_id = $('#case_id').val();
            form_data.append('file', file_info);
            form_data.append('case_id', case_id);
            $.ajax({
                type: "POST",
                url: "{% url 'testManage:is-casefind-list' %}",
                data: form_data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    {#console.log(msg)#}
                    if (msg.result) {
                        layer.alert(msg.msg, {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            window.location.reload();
                        });

                    } else {
                        layer.alert(msg.msg, {icon: 2});
                    }
                    return;
                }
            });
        });

        function btnDelete() {
            var case_id = $('#case_id').val();
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'testManage:is-casefun-delete' %}",
                        data: {"case_id": case_id},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("删除成功", {icon: 1}, function (index) {
                                    parent.layer.closeAll(); //关闭所有弹窗
                                    {#gridObj.refreshPage(); // 刷新整个table#}
                                    window.location.reload();
                                });
                            } else {
                                layer.alert("删除失败", {icon: 2});
                            }
                            return
                        }

                    })
                }
            });
        }

        //保存修改
        $("#SaveUpdate").click(function () {
            var returnA = 0;
            var records = gridObj.getChangedRowsOldRecords(); // 获取修改行原来的数据

            $.each(gridObj.getRowsChangedColumnsValue(), function (key1, object1) {
                returnA++;
                $('#function').val(records[returnA - 1], 'function');
                $('#oper_step').val(records[returnA - 1], 'oper_step');
                $('#expect').val(records[returnA - 1], 'expect');

                {#console.log('111', $('#oper_step').val(records[returnA - 1], oper_step))#}

                var rowIndex = key1.split('_');

                var ArrayID = gridObj.getColumnValue(rowIndex[1], 'id');

                $('#id').val(ArrayID);

                $.each(object1, function (ckey1, cvalue1) {
                    var idName = "#" + ckey1;
                    $(idName).val(cvalue1);

                });
                var data = $("#addOptions").serialize();
                $.ajax({
                    type: "POST",
                    url: "{% url 'testManage:is-testfun-update' %}",
                    data: data,
                    cache: false,
                    success: function (msg) {
                        if (msg.result) {
                            layer.msg("修改成功");
                            gridObj.refreshPage();

                        } else {
                            layer.alert("修改失败", {icon: 2});
                        }
                        return;
                    }
                });
            })
        });

    </script>

{% endblock %}
