{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link href="{% static 'jquery.bsgrid-master/plugins/bootstrap/2.3.2/css/bootstrap-responsive.min.css' %}"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link href="{% static 'jquery.bsgrid-master/builds/css/skins/grid_bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

{% endblock %}
{% block content %}

    <!-- Main content -->
    <section class="content" style="margin-top: -2%">
        <input type="hidden" id="case_id" value="{{ case_id.id }}"/>
        <form class="form-horizontal" id="addForm">
            <div>
                <select class="form-control select2" style="width:32%;font-size: 22px" id="comment"
                        name="comments">
                    {#                        <option value="{{ apply_list.stage }}">{{ apply_list.stage }}</option>#}
                    {% for comment in comments %}
                        {% for k,v in comment.items %}
                            <option value="{{ comment }}">{{ k }} -- {{ v }}</option>
                        {% endfor %}


                    {% endfor %}
                </select>

                <button type="button" onclick="btnSearch()" class="btn btn-default" onsubmit="return false">
                    <i class="glyphicon glyphicon-search"></i>查询
                </button>
            </div>
        </form>
        {#        {% endif %}#}
        {% if errmsg %}
            <H3 style="color: #c9302c">{{ errmsg }}</H3>
        {% endif %}
        <div id="devlist">
            <div class="box box-primary" id="liebiao" style="margin-top: 1%">
                <div class="box-header">
                    <div class="form-inline">
                        <div class="form-group  margin-r-5 margin-top-9">
                            <h5 style="color: #00a157" id="TestPurpose" class="btn btn-group pull-left">
                                测试说明</h5>
                        </div>
                        <div class="btn-group pull-right">
                            <button type="button" id="SaveUpdate"
                                    class="btn btn-info btn-group pull-left" style="margin-left: -20%;margin-top: 20%">
                                保存
                            </button>
                        </div>
                    </div>

                    <div class="box-body">
                        <table id="searchTable" style="width: 100%">
                            <thead>
                            <tr>
                                <th w_index="id" w_hidden="true" width="10%">ID</th>
                                <th w_index="fk_test__case_id">用例编号</th>
                                <th w_index="fk_test__function">功能</th>
                                <th w_index="fk_test__oper_step">操作步骤</th>
                                <th w_index="fk_test__expect">预期结果</th>
                                <th w_index="test_results" w_edit="text">测试结果</th>
                                <th w_index="radar_id" w_edit="text">Radar ID</th>
                                <th w_index="comments" w_edit="text">备注</th>
                                {#                            <th w_index="comments" width="35%">Comments</th>#}
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <form id="addOptions" class="form-horizontal" method="post">
                <input type="text" class="hidden" id="id" name="id"/>
                <input type="text" class="hidden" id="test_results" name="test_results"/>
                <input type="text" class="hidden" id="radar_id" name="radar_id"/>
                <input type="text" class="hidden" id="comments" name="comments"/>
            </form>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/js/lang/grid.zh-CN.min.js' %}"></script>

    <script src="{% static 'bootstrap/fileinput.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput_locale_zh.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>


    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>


    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#TEST-IS').addClass('active');
            $('#TEST-IS-CURRENTTEST').addClass('active');

        });

    </script>
    <script>
        var gridObj;
        $(function () {
            gridObj = $.fn.bsgrid.init('searchTable', {
                {#url: "{% url 'testManage:is-currenttest' %}",   //json文件url#}
                {#ajaxType: 'POST',      //请求方式#}
                pageSizeSelect: true,   //是否显示分页大小选择下拉框，默认false
                autoLoad:false,
                pageSize: 15,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                pageName: 'pageIndex', //页码的参数名称，默认：page
                ageAll: false,
                displayBlankRows: false,//不显示空白行
                extend: {
                    settings: {
                        supportGridEdit: true, // default false, if support extend grid edit
                        supportGridEditTriggerEvent: '', // default 'rowClick', values: ''(means no need Trigger), 'rowClick', 'rowDoubleClick', 'cellClick', 'cellDoubleClick'
                        gridEditConfigs: {
                            datetime: {
                                build: function (edit, value, record, rowIndex, colIndex, tdObj, trObj, options) {
                                    // Laydate v1.1 may not render display none input, so use onclick
                                    return value + '<input id="date_' + rowIndex + '_' + colIndex + '" class="bsgrid_editgrid_hidden laydate-icon" style="width:12%" value="' + value + '" onclick="viewDatetimeChoose(this)" />';
                                },
                                val: function (formObj) {
                                    return formObj.val();
                                }
                            }
                        }
                    }
                },//分页大小，默认20
            });
            btnSearch();
        });

        function btnSearch() {
            var comments = $('#comment').val();
            {#var title = $('#title').val();#}
            data_dict = {'comments': comments,};
            gridObj.search(data_dict);
        }

        function btnExport() {
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '400px'],
                content: $("#upload"),
            });
        }

        // on操作的追加后的元素， click无法选中，用on追踪
        $("#qwer").on("click", ".fileinput-upload-button", function () {
            var form_data = new FormData();
            var file_info = $('#input-1')[0].files[0];
            form_data.append('file', file_info);
            $.ajax({
                type: "POST",
                url: "{% url 'testManage:is-taskarrange' %}",
                data: form_data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert(msg.msg, {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            window.location.reload();
                        });

                    } else {
                        layer.alert(msg.msg, {icon: 2});
                    }
                    return;
                }
            });
        });
        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });


        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

        $("#TestPurpose").on("click", function () {
            var comment = $('#comment').val();
            layer.open({
                type: 2,
                title: '测试说明',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '800px'],
                content: ["{% url 'testManage:is-casedesc-list' %}" + '?comment=' + comment],
                end: function () {
                    {#console.log(121232)#}
                    //关闭时做的事情
                    {#window.location.reload();#}
                    oDataTable.ajax.reload();
                }
            });
        });
        // select2
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        }) ;

        //保存修改
        $("#SaveUpdate").click(function () {
            var returnA = 0;
            var records = gridObj.getChangedRowsOldRecords(); // 获取修改行原来的数据

            $.each(gridObj.getRowsChangedColumnsValue(), function (key1, object1) {
                returnA++;
                $('#test_results').val(records[returnA - 1], 'test_results');
                $('#radar_id').val(records[returnA - 1], 'radar_id');
                $('#comments').val(records[returnA - 1], 'comments');

                var rowIndex = key1.split('_');

                var ArrayID = gridObj.getColumnValue(rowIndex[1], 'id');

                $('#id').val(ArrayID);

                $.each(object1, function (ckey1, cvalue1) {
                    var idName = "#" + ckey1;
                    $(idName).val(cvalue1);
                    console.log('idName--', idName)
                    console.log('cvalue1--', cvalue1)

                });
                var data = $("#addOptions").serialize();
                $.ajax({
                    type: "POST",
                    url: "{% url 'testManage:is-current-update' %}",
                    data: data,
                    cache: false,
                    success: function (msg) {
                        if (msg.result) {
                            layer.msg("修改成功");
                            gridObj.refreshPage();

                        } else {
                            layer.alert("修改失败", {icon: 2});
                        }
                        return;
                    }
                });
            })
        });

    </script>

{% endblock %}