{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link href="{% static 'jquery.bsgrid-master/plugins/bootstrap/2.3.2/css/bootstrap-responsive.min.css ' %}"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link href="{% static 'jquery.bsgrid-master/builds/css/skins/grid_bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->

{% endblock %}
{% block content %}

    <!-- Main content -->
    <section class="content" style="margin-top: -2%">
        <div><H3>Photos</H3></div>
        <div id="devlist">
            <div class="box box-primary" id="liebiao">
                <div class="box-header">
                    <div class="form-inline">
                        <div class="form-group  margin-r-5 margin-top-8">
                            <h5 style="color: #00a157" id="TestPurpose">测试范围与目的</h5>
                        </div>
                        <div class="form-group  margin-r-5 margin-top-8">
                            <h5 style="color: #00a157" id="TestPurpose">测试环境与辅助工具</h5>
                        </div>
                        <div class="form-group  margin-r-5 margin-top-8">
                            <h5 style="color: #00a157" id="TestPurpose">其他</h5>
                        </div>
                    </div>
                    <form class="form-inline" id="queryForm">
                        <div class="form-group searchArea margin-r-5 margin-top-5">
                            <label>测试日期:</label>
                            <input type="text" name="date" class="form-control form_datetime" id="date">
                        </div>


                        <div class="form-group searchArea margin-r-5 margin-top-5 ">
                            <label>测试版本:</label>
                            <input type="text" name="test_ver" class="form-control inputText" id="test_ver">
                        </div>
                        <div class="form-group searchArea margin-r-5 margin-top-5 ">
                            <label>测试机台:</label>
                            <input type="text" name="test_sn" class="form-control inputText" id="test_sn">
                        </div>

                        {#                        <button type="button" onclick="btnSearch()" class="btn btn-default" style="margin-left: 3%">#}
                        {#                            <i class="glyphicon glyphicon-search"></i>查询#}
                        {#                        </button>#}


                        {#                        <button type="button" onclick="btnExport()" class="btn btn-success btn-group pull-right"#}
                        {#                                style="margin-left: 3%"></i>导入#}
                        {#                        </button>#}
                    </form>
                    <div id="upload" style="display: none">
                        <form method="post" enctype="multipart/form-data" id="qwer" onsubmit="return false">
                            {% csrf_token %}
                            </br>
                            </br>
                            <label class="control-label">Select File</label>
                            <input type="file" name="file" class="file" id="input-1">
                        </form>

                    </div>
                </div>

                <div class="box-body">
                    <table id="searchTable" style="width: 100%">
                        <thead>
                        <tr>
                            <th w_index="id">用例编号</th>
                            <th w_index="function">功能</th>
                            <th w_index="oper_step">操作步骤</th>
                            <th w_index="expect">预期结果</th>
                            <th w_index="test_results">测试结果</th>
                            <th w_index="radar_id">Radar ID</th>
                            <th w_index="comments">备注</th>
                            {#                            <th w_index="comments" width="35%">Comments</th>#}
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/merged/bsgrid.all.min.js' %}"></script>
    <script src="{% static 'jquery.bsgrid-master/builds/js/lang/grid.zh-CN.min.js' %}"></script>

    <script src="{% static 'bootstrap/fileinput.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput_locale_zh.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>


    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>


    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#TEST-IS').addClass('active');
            $('#TEST-IS-CURRENTTEST').addClass('active');

        });

    </script>
    <script>
        var gridObj;
        $(function () {
            gridObj = $.fn.bsgrid.init('searchTable', {
                url: "{% url 'testManage:is-currenttest-list' %}",   //json文件url
                ajaxType: 'POST',      //请求方式
                pageSizeSelect: true,   //是否显示分页大小选择下拉框，默认false
                autoLoad: true,
                pageSize: 20,
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                pageName: 'pageIndex', //页码的参数名称，默认：page
                ageAll: false,
                displayBlankRows: false,//不显示空白行
                extend: {
                    settings: {
                        supportGridEdit: true, // default false, if support extend grid edit
                        supportGridEditTriggerEvent: '', // default 'rowClick', values: ''(means no need Trigger), 'rowClick', 'rowDoubleClick', 'cellClick', 'cellDoubleClick'
                        gridEditConfigs: {
                            datetime: {
                                build: function (edit, value, record, rowIndex, colIndex, tdObj, trObj, options) {
                                    // Laydate v1.1 may not render display none input, so use onclick
                                    return value + '<input id="date_' + rowIndex + '_' + colIndex + '" class="bsgrid_editgrid_hidden laydate-icon" style="width:12%" value="' + value + '" onclick="viewDatetimeChoose(this)" />';
                                },
                                val: function (formObj) {
                                    return formObj.val();
                                }
                            }
                        }
                    }
                },//分页大小，默认20
            });
            {#btnSearch();#}
        });

        {#function btnSearch() {#}
        {#    var tester = $('#tester').val();#}
        {#    var wgt_no = $('#wgt_no').val();#}
        {#    data_dict = {'tester': tester, 'wgt_no': wgt_no};#}
        {#    gridObj.search(data_dict);#}
        {# }#}

        function btnExport() {
            layer.open({
                type: 1,
                title: "批量导入",
                closeBtn: 1,
                shadeClose: false,
                area: ['600px', '400px'],
                content: $("#upload"),
            });
        }

        // on操作的追加后的元素， click无法选中，用on追踪
        $("#qwer").on("click", ".fileinput-upload-button", function () {
            var form_data = new FormData();
            var file_info = $('#input-1')[0].files[0];
            form_data.append('file', file_info);
            $.ajax({
                type: "POST",
                url: "{% url 'testManage:is-taskarrange' %}",
                data: form_data,
                cache: false,
                processData: false,
                contentType: false,
                success: function (msg) {
                    if (msg.result) {
                        layer.alert(msg.msg, {icon: 1}, function (index) {
                            parent.layer.closeAll(); //关闭所有弹窗
                            window.location.reload();
                        });

                    } else {
                        layer.alert(msg.msg, {icon: 2});
                    }
                    return;
                }
            });
        });
        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });


        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });
        $("#TestPurpose").on("click", function () {
            var title = 'Photos';
            layer.open({
                type: 2,
                title: '测试范围与目的',
                shadeClose: false,
                maxmin: true,
                area: ['1200px', '800px'],
                content: ["{% url 'system:basic-word-detail' %}" + '?title=' + title],
                end: function () {
                    {#console.log(121232)#}
                    //关闭时做的事情
                    {#window.location.reload();#}
                    oDataTable.ajax.reload();
                }
            });
        });
    </script>
{% endblock %}