{% extends "base-left.html" %}
{% load staticfiles %}
{% load get_mode %}

{% block title %}UCS{% endblock %}

{% block content %}

    <section class="content-header">
        <h1>
            數據看板
        </h1>
        <!--<ol class="breadcrumb">-->
        <!--<li><a href="#"><i class="fa fa-dashboard"></i> 機台控制</a></li>-->
        <!--<li><a href="#">數據看板</a></li>-->
        <!--</ol>-->
    </section>
    {#{'Project': ['BV7', 'BV8', 'BG0', 'BGP'], 'datas': {'BV7': 11, 'BV8': 10, 'BG0': 5, 'BGP': 0}}#}
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% for project in Project %}
                <div class="col-lg-2 col-xs-6">
                    <!-- small box -->
                    <div class="small-box
                {% if forloop.counter|get_mod:'5' == 1 %}
                    bg-aqua
                {% endif %}

                {% if forloop.counter|get_mod:'5' == 2 %}
                    bg-yellow
                {% endif %}

                {% if forloop.counter|get_mod:'5' == 3 %}
                    bg-green
                {% endif %}

                {% if forloop.counter|get_mod:'5' == 4 %}
                    bg-gray
                {% endif %}

                {% if forloop.counter|get_mod:'5' == 0 %}
                    bg-red
                {% endif %}
            ">
                        <div class="inner">
                            <h3>
                                {% for data , value in datas.items %}
                                    {% if data == project %}
                                        {{ value | default:"0" }}
                                    {% endif %}
                                {% endfor %}
                            </h3>

                            <p>{{ project | default:"--" }}</p>
                        </div>
                        <div class="icon">

                            <!--{{forloop.counter|get_mod:'4' }}-->

                            {% if forloop.counter|get_mod:'4' == 1 %}
                                <i class="fa fa-pencil"></i>
                            {% endif %}

                            {% if forloop.counter|get_mod:'4' == 2 %}
                                <i class="fa fa-send-o"></i>
                            {% endif %}

                            {% if forloop.counter|get_mod:'4' == 3 %}
                                <i class="glyphicon glyphicon-play"></i>
                            {% endif %}

                            {% if forloop.counter|get_mod:'4' == 0 %}
                                <i class="fa fa-check"></i>
                            {% endif %}

                        </div>
                        <a href="#" class="small-box-footer">{{ time | date:'Y年m月d日' | default:"----年--月--日" }}</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- /.row -->
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">机台數據統計</h3>
                        <div class="box-tools pull-right">
                            <div class="btn-group">
                                <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"
                                        title="选择统计类型">
                                    <i class="fa fa-list-alt"></i></button>
                                <ul class="dropdown-menu bg-aqua" role="menu">
                                    <li><a href="#"></a></li>
                                    <li><a href="#"></a></li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div id="bar_container" style="height: 400px"></div>
                            </div>
                            <div class="col-md-4">
                                <div id="pie_container" style="height: 400px;"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{% static 'plugins/echarts/echarts.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#index').addClass('active');
        });

        /*---柱形图---*/
        //echarts
        //{#{'Project': ['BV7', 'BV8', 'BG0', 'BGP'], 'datas': {'BV7': 11, 'BV8': 10, 'BG0': 5, 'BGP': 0}}#}
        var bar_dom = document.getElementById("bar_container");
        var myBarChart = echarts.init(bar_dom);
        option = null;
        option = {
            title: {
                text: '测试平台機台統計',
                subtext: ''
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: [
                    {% for data,value in datas.items %}'{{ value }}',{% endfor %}
                ]
            },

            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: false},
                    saveAsImage: {show: true}
                }
            }
            ,
            calculable: true,
            xAxis: [
                {
                    type: 'category',
                    data: [{% for data in Project %}'{{ data}}',{% endfor %}] //'1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'
                }
            ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: [


                {
                    name: '访问来源', //作用用于点选隐藏的
                    type: 'bar',
                    data: [
                        {% for data,value in datas.items %}
                            {value:{{ value }}, name: '{{ data }}'},
                        {% endfor %}
                    ],

                    markPoint: {
                        data: [
                            {type: 'max', name: '最大值'},
                            {type: 'min', name: '最小值'}
                        ]
                    },

                },
            ]
        };
        if (option && typeof option === "object") {
            myBarChart.setOption(option, true);
        }
        /*------*/



        /*---饼形图---*/
        //echarts bar

        var pie_dom = document.getElementById("pie_container");
        var myPieChart = echarts.init(pie_dom);
        option = null;

        option = {
            title: {
                text: '機台所佔比例',
                subtext: '',
                x: 'center'
            },
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data: [{% for data in datas.items %}'{{ data }}',{% endfor %}]
            },
            series: [
                {
                    name: '访问来源',
                    type: 'pie',
                    radius: '55%',
                    center: ['50%', '60%'],
                    data: [
                        // {value: 335, name: '直接访问'},
                        // {value: 310, name: '邮件营销'},
                        // {value: 234, name: '联盟广告'},
                        // {value: 135, name: '视频广告'},
                        // {value: 1548, name: '搜索引擎'}

                        {% for data,value in datas.items%}
                            {value:{{ value }}, name: '{{ data }}'},
                        {% endfor %}

                    ],
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        if (option && typeof option === "object") {
            myPieChart.setOption(option, true);
        }
        /*------*/

        //图表窗体自适应
        $(window).resize(function () {
            myBarChart.resize();
            myPieChart.resize();
        });

    </script>

{% endblock %}