{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/fileinput.css' %}">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <style>
        {#body {#}
        {#    margin: 10px;#}
        {# }#}

        {#.demo-carousel {#}
        {#    height: 200px;#}
        {#    line-height: 200px;#}
        {#    text-align: center;#}
        {# }#}

        div[title="导出"] {
            display: none;
        }

        div[title="打印"] {
            display: none;
        }

        .layui-table-cell {
        {#color: #FF7F24;#} font-size: 12px
        }
    </style>


    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <link href="https://cdn.datatables.net/buttons/1.5.0/css/buttons.dataTables.min.css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <!-- Main content -->
    <section class="content">
        <div id="devlist">
            <div class="box box-primary" id="my-page">
                <div class="box-header" id="my-page">

                    <div id="upload" style="display: none">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <label class="control-label">Select File</label>
                            <input type="file" name="file" class="file" id="input-1">
                        </form>
                    </div>
                    <div class="box-body" style="margin-top: -21px;height: auto">
                        <table class="layui-hide" id="demo" lay-data="{id: 'idTest'}" lay-filter="test"></table>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    {#    <script src="{% static "jquery/dist/jquery.min.js" %}"></script>#}
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput.js' %}"></script>
    <script src="{% static 'bootstrap/fileinput_locale_zh.js' %}"></script>
    <script src="{% static 'layui/layui.js' %}"></script>



    <!--导出excel-->
    <script src="{% static 'export/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'export/js/dataTables.buttons.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.flash.min.js' %}"></script>
    <script src="{% static 'export/js/jszip.min.js' %}"></script>
    <script src="{% static 'export/js/pdfmake.min.js' %}"></script>
    <script src="{% static 'export/js/vfs_fonts.js' %}"></script>
    <script src="{% static 'export/js/buttons.html5.min.js' %}"></script>
    <script src="{% static 'export/js/buttons.print.min.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#DQE-IM').addClass('active');
            $('#DQE-IM-IPADDETAILS').addClass('active');

        });
    </script>

    <script type="text/html" id="barDemo">
        {#        <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>#}
        {#        <a class="layui-btn layui-btn-xs" lay-event="detail">查看</a>#}
        {#        <a class="layui-btn layui-btn-xs" lay-event="edit">查看</a>#}
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

    </script>
    {#    头 工具栏#}
    <script type="text/html" id="toolbarDemo">
        {#        <div style="position: relative">#}
        {#            <div style="position:absolute;">#}
        {#                <input type="text" class="layui-input">#}
        {#            </div>#}
        {#        </div>#}
        <div class="layui-btn-container" style="float:left">
            <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
            <button class="layui-btn layui-btn-sm" lay-event="upload">上传</button>
            <button class="layui-btn layui-btn-sm" lay-event="delete">导出</button>
            <button class="layui-btn layui-btn-sm" lay-event="refresh">刷新</button>
        </div>
        <div>
            {#            <form class="layui-form" style="float: right">#}
            <div class="layui-inline">
                <input style="width: auto; height: 30px" type="text" id="select_orderId" name="select_orderId"
                       lay-verify="required"
                       placeholder="请输入SN" autocomplete="off" class="layui-input">
            </div>

            <button class="layui-btn layui-btn-sm" lay-submit="" id="searchBtn" data-type="getInfo" lay-event="findSN"
                    style="float: left;">搜索
            </button>
        </div>

    </script>
    <script>

        {#$('#searchBtn').click(function () {#}
        {#    console.log(123)#}
        {# });#}


        layui.config({
            version: true, //一般用于更新模块缓存，默认不开启。设为true即让浏览器不缓存。也可以设为一个固定的值，如：201610
        });

        layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider', 'form'], function () {
            var laydate = layui.laydate //日machine_manage_info期
                , laypage = layui.laypage //分页
                , layer = layui.layer //弹层
                , table = layui.table //表格
                , carousel = layui.carousel //轮播
                , upload = layui.upload //上传
                , element = layui.element //元素操作
                , slider = layui.slider //滑块
                , form = layui.form

            //向世界问个好
            {#layer.msg('Hello World');#}

            //监听Tab切换
            element.on('tab(demo)', function (data) {
                layer.tips('切换了 ' + data.index + '：' + this.innerHTML, this, {
                    tips: 1
                });
            });

            //执行一个 table 实例
            table.render({
                elem: '#demo'
                , height: 820
                , url: '/dqe/inventory/list' //数据接口
                , title: 'All Ipad Details'
                , cellMinWidth: 80
                , page: true //开启分页
                , id: 'idTest'//id
                , limit: 30
                , cache: false
                , request: {
                    pageName: 'pageIndex' //页码的参数名称，默认：page
                    , limitName: 'pageSize' //每页数据量的参数名，默认：limit
                }
                , response: {
                    statusName: 'code' //规定数据状态的字段名称，默认：code
                    , statusCode: 0 //规定成功的状态码，默认：0
                    , msgName: 'msg' //规定状态信息的字段名称，默认：msg
                    , countName: 'count' //规定数据总数的字段名称，默认：count
                    , dataName: 'data' //规定数据列表的字段名称，默认：data
                }
                , toolbar: '#toolbarDemo' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                , totalRow: true //开启合计行
                {#, cellMinWidth: 80#}
                , cols: [[ //表头
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'pk', title: 'ID', width: 72, sort: true, fixed: 'left', totalRowText: '合计：'}
                    , {field: 'platform', title: 'Platform', sort: true, edit: 'text', width: 110}
                    , {field: 'hw_build', title: 'HW_Build', edit: 'text', width: 80, sort: true}
                    , {field: 'wgt_no', title: 'Wgt NO', edit: 'text', width: 100, sort: true}
                    , {field: 'sn', title: 'SN', width: 80, sort: true}
                    , {field: 'model', title: 'Model', edit: 'text', width: 80, sort: true}
                    , {field: 'status_detail', title: 'Status Detail', edit: 'text', width: 80, totalRow: true}
                    , {field: 'fused', title: 'Fused', edit: 'text', width: 80}
                    , {field: 'config', title: 'Config', edit: 'text', width: 100, sort: true}
                    , {field: 'display', title: 'Display', edit: 'text', width: 100, sort: true}
                    , {field: 'nand', title: 'Nand', edit: 'text', width: 100, sort: true}
                    , {field: 'date_in', title: '入库时间', width: 100, sort: true}
                    , {field: 'date_out', title: '出库时间', width: 60, sort: true}
                    , {
                        field: 'units_status',
                        title: '状态',
                        edit: 'text',
                        sort: true,
                        width: 80,
                        templet: function (item) {
                            if (item.units_status == '1') {
                                return "入库";
                            } else if (item.units_status == '2') {
                                return "已借出";
                            } else if (item.units_status == '3') {
                                return "出库";
                            } else if (item.units_status == '4') {
                                return "损坏";
                            } else {
                                return "被外借"
                            }
                        }
                    }
                    , {field: 'recuser', title: '入库人员', edit: 'text', width: 100, sort: true}
                    , {field: 'hw_build_detail', title: 'HW Build(Detail)', edit: 'text', width: 80, sort: true}
                    , {field: 'front_color', title: 'Front Color', edit: 'text', width: 80, sort: true}
                    , {field: 'rear_color', title: 'Rear Color', edit: 'text', width: 80, sort: true}
                    , {field: 'soc', title: 'SOC', edit: 'text', width: 80, sort: true}
                    , {field: 'housing', title: 'Housing', edit: 'text', width: 80, sort: true}
                    , {field: 'tm_grading', title: 'TM Grading', edit: 'text', width: 80, sort: true}
                    , {field: 'grape', title: 'Grape', edit: 'text', width: 80, sort: true}
                    , {field: 'nand_type', title: 'NAND Type', edit: 'text', width: 80, sort: true}
                    , {field: 'die_name', title: 'Die Name', edit: 'text', width: 80, sort: true}
                    , {field: 'battery_detail', title: 'Battery Detail', edit: 'text', width: 80, sort: true}
                    , {field: 'battery_confirm', title: 'Battery Confirm', edit: 'text', width: 80, sort: true}
                    , {field: 'mesa_flex', title: 'Mesa Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'wifi_vender', title: 'WiFi Vender', edit: 'text', width: 80, sort: true}
                    , {field: 'WF1', title: 'WF1', edit: 'text', width: 80, sort: true}
                    , {field: 'wf2', title: 'WF2', edit: 'text', width: 80, sort: true}
                    , {field: 'wf3', title: 'WF3', edit: 'text', width: 80, sort: true}
                    , {field: 'wf5', title: 'WF5', edit: 'text', width: 80, sort: true}
                    , {field: 'wf5p', title: 'WF5P', edit: 'text', width: 80, sort: true}
                    , {field: 'wf3_metrocirc', title: 'WF3 Metrocirc', edit: 'text', width: 80, sort: true}
                    , {field: 'wf5_metrocirc', title: 'WF5 Metrocirc', edit: 'text', width: 80, sort: true}
                    , {field: 'wf_sw_l', title: 'WF_SW_L', edit: 'text', width: 80, sort: true}
                    , {field: 'wf_sw_r', title: 'WF_SW_R', edit: 'text', width: 80, sort: true}
                    , {field: 'front_camera', title: 'Front Camera', edit: 'text', width: 80, sort: true}
                    , {field: 'rear_camera', title: 'Rear Camera', edit: 'text', width: 80, sort: true}
                    , {field: 'mikey_flex', title: 'Mikey flex (Audio J Flex)', edit: 'text', width: 80, sort: true}
                    , {field: 'fh_spk', title: 'FH L/R SPK', edit: 'text', width: 80, sort: true}
                    , {field: 'chin_spk', title: 'Chin L/R SPK', edit: 'text', width: 80, sort: true}
                    , {field: 'spv_flex', title: 'SPV Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'microphone', title: 'Microphone (Mic Flex)', edit: 'text', width: 80, sort: true}
                    , {field: 'microphone2', title: 'Microphone (Mic2 Flex)', edit: 'text', width: 80, sort: true}
                    , {field: 'c3_flex', title: 'C3 Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'c4_flex', title: 'C4 Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'mlb', title: 'MLB', edit: 'text', width: 80, sort: true}
                    , {field: 'mlb_soc', title: 'MLB Soc', edit: 'text', width: 80, sort: true}
                    , {field: 'pcb', title: 'PCB', edit: 'text', width: 80, sort: true}
                    , {field: 'bash_flex', title: 'Bash Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'sim_flex', title: 'SIM Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'mimosa', title: 'Mimosa', edit: 'text', width: 80, sort: true}
                    , {field: 'autobahn_flex', title: 'Autobahn Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'edp_flex', title: 'EDP Flex', edit: 'text', width: 80, sort: true}
                    , {field: 'io_bonding', title: 'IO Bonding', edit: 'text', width: 80, sort: true}
                    , {field: 'gyro_type', title: 'Gyro Type', edit: 'text', width: 80, sort: true}
                    , {
                        field: 'appleoscar',
                        title: 'AppleOscarAccelerometer(Accel)',
                        edit: 'text',
                        width: 80,
                        sort: true
                    }
                    , {field: 'dram', title: 'DRAM', edit: 'text', width: 80, sort: true}
                    , {field: 'e75', title: 'E75 TriStar', edit: 'text', width: 80, sort: true}
                    , {field: 'full_lam', title: 'Full Lam', edit: 'text', width: 80, sort: true}
                    , {field: 'unit_weight', title: 'Unit Weight', edit: 'text', width: 80, sort: true}
                    , {field: 'ecid', title: '16进制 ECID', edit: 'text', width: 80, sort: true}
                    , {field: 'apecid', title: '10进制 APECID', edit: 'text', width: 80, sort: true}
                    , {field: 'snum', title: 'SNUM', edit: 'text', width: 80, sort: true}
                    , {field: 'euicccsn', title: 'EUICCCSN', edit: 'text', width: 80, sort: true}
                    , {field: 'unit_no', title: 'Unit No.', edit: 'text', width: 80, sort: true}
                    , {field: 'aapn', title: 'AAPN', edit: 'text', width: 80, sort: true}
                    , {field: 'hhpn', title: 'HHPN', edit: 'text', width: 80, sort: true}
                    , {field: 'wo', title: 'WO', edit: 'text', width: 80, sort: true}
                    , {field: 'allocatedto_group', title: 'AllocatedTo/Group', edit: 'text', width: 80, sort: true}
                    , {field: 'apple_dri', title: 'Apple DRI', edit: 'text', width: 80, sort: true}
                    , {field: 'pt_no', title: 'PT No.', edit: 'text', width: 80, sort: true}
                    , {field: 'apple_po', title: 'Apple PO', edit: 'text', width: 80, sort: true}
                    , {field: 'boxsn', title: '倉碼', edit: 'text', width: 80, sort: true}
                    , {field: 'certification_period', title: '認證期限', edit: 'text', width: 80, sort: true}
                    , {field: 'accessory', title: 'Accessory', edit: 'text', width: 80, sort: true}
                    , {field: 'presence_laser', title: '有無鐳射', edit: 'text', width: 80, sort: true}
                    , {field: 'card', title: '是否带卡', edit: 'text', width: 80, sort: true}
                    , {field: 'card_type', title: '卡型号', edit: 'text', width: 80, sort: true}
                    , {field: 'detail_comment', title: 'Detail Comment', edit: 'text', width: 100, sort: true}
                    , {fixed: 'right', title: '操作', width: 80, align: 'center', toolbar: '#barDemo'}
                ]]
            });

            //监听单元格编辑
            table.on('edit(test)', function (obj) {
                var value = obj.value //得到修改后的值
                    , data = obj.data //得到所在行所有键值
                    , field = obj.field; //得到字段
                var ID = data.pk
                //layer.msg('[ID: ' + data.pk + '] ' + field + ' 字段更改为：' + value);
                $.ajax({
                    type: "POST",
                    url: "{% url 'dqe:inventory-update' %}",
                    data: {
                        "ID": ID,
                        "field": field,
                        'value': value,
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    cache: false,
                    success: function (msg) {
                        {#console.log('ture--', msg)#}
                        console.log('2323--', msg.result)
                        if (msg.result) {
                            layer.msg("操作成功", {icon: 1});
                            {#$(".layui-laypage-btn")[0].click();#}
                            {#window.location.reload()#}
                        } else {
                            //alert(msg.message);
                            layer.msg("操作失败", {icon: 2});
                        }
                        return;
                    }
                });
            });

            //监听头工具栏事件
            table.on('toolbar(test)', function (obj) {
                var checkStatus = table.checkStatus(obj.config.id)
                    , data = checkStatus.data; //获取选中的数据
                switch (obj.event) {
                    case 'add':
                        layer.open({
                            type: 2,
                            title: '新增',
                            shadeClose: false,
                            maxmin: true,
                            area: ['1300px', '700px'],
                            content: "{% url 'dqe:inventory-insert' %}",
                            end: function () {
                                {#window.location.reload()#}
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layui.table.reload('idTest');//重载父页表格，参数为表格ID
                                parent.layer.close(index);
                            }
                        });
                        layui.use('form', function () {
                            var form = layui.form;
                            form.render();
                        });
                        break;
                    case 'upload':
                        layer.open({
                            type: 1,
                            title: "批量导入",
                            closeBtn: 1,
                            shadeClose: false,
                            area: ['600px', '400px'],
                            content: $("#upload"),
                        });

                        break;
                    case 'delete':
                        var sId = "";
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            sId += checkStatus.data[i].pk + ",";
                        }
                        if (data.length === 0) {
                            layer.msg('请选择一行');
                        } else {
                            layer.alert('确定删除吗？', {
                                title: '提示'
                                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                                , time: 0 //不自动关闭
                                , btn: ['YES', 'NO']
                                , yes: function (index) {
                                    layer.close(index);
                                    $.ajax({
                                        type: "POST",
                                        url: "{% url 'dqe:inventory-delete' %}",
                                        data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                                        cache: false,
                                        success: function (msg) {
                                            if (msg.result) {
                                                layer.alert("操作成功", {icon: 1});
                                                $(".layui-laypage-btn")[0].click();
                                                obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                            } else {
                                                //alert(msg.message);
                                                layer.alert("操作失败", {icon: 2});
                                            }
                                            return;
                                        }
                                    });
                                }
                            });

                        }
                        break;
                    case 'findSN':
                        $('#searchBtn').on('click', function () {
                            var type = $(this).data('type');
                            active[type] ? active[type].call(this) : '';
                        });
                        // 点击获取数据
                        var active = {
                            getInfo: function () {
                                var orderId = $('#select_orderId').val();
                                if (orderId) {
                                    var index = layer.msg('查询中，请稍候...', {icon: 16, time: false, shade: 0});
                                    setTimeout(function () {
                                        console.log(456);
                                        table.reload('idTest', {
                                            url: '/dqe/order/selectByOrderId',
                                            where: {
                                                'orderId': $.trim(orderId)
                                            }
                                        });
                                        layer.close(index);
                                    }, 800);
                                } else {
                                    layer.msg("请输入sn");
                                }
                            },
                        };
                        //监听回车事件,扫描枪一扫描或者按下回车键就直接执行查询
                        $("#select_orderId").bind("keyup", function (e) {
                            if (e.keyCode == 13) {
                                var type = "getInfo";
                                active[type] ? active[type].call(this) : '';
                            }
                        });
                        break;
                    case 'refresh':

                        window.location.reload()

                        break;
                }
                ;
            });

            //监听行工具事件
            table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                var data = obj.data;//获得当前行数据
                var layEvent = obj.event; //获得 lay-event 对应的值
                var id = data.pk;

                if (layEvent === 'detail') {

                } else if (layEvent === 'del') {
                    layer.alert('确定删除吗？', {
                        title: '提示'
                        , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                        , time: 0 //不自动关闭
                        , btn: ['YES', 'NO']
                        , yes: function (index) {
                            layer.close(index);
                            $.ajax({
                                type: "POST",
                                url: "{% url 'dqe:inventory-onedelete' %}",
                                data: {"id": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                                cache: false,
                                success: function (msg) {
                                    if (msg.result) {
                                        layer.alert('删除成功', {icon: 1});
                                        $(".layui-laypage-btn")[0].click();
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        {#location.href = '/machine/inventory/'#}
                                    } else {
                                        //alert(msg.message);
                                        layer.alert('删除失败', {icon: 2});
                                    }
                                    return;
                                }
                            });
                        }
                    });
                } else if (layEvent === 'edit') {

                    layer.open({
                        type: 1,
                        title: '编辑',
                        shadeClose: false,
                        maxmin: true,
                        area: ['900px', '500px'],
                        content: $('#RecordUpdate'),
                    });
                    layui.use('form', function () {
                        var form = layui.form;
                        form.render();
                    });
                    layui.use('laydate', function () {
                        var laydate = layui.laydate;
                        //执行一个laydate实例
                        laydate.render({
                            elem: '#Date_in_input'//指定元素
                        });
                    });

                    $.ajax({
                        url: "{% url 'dqe:inventory-update' %}",
                        type: 'post',
                        async: true,
                        data: {
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            "id": id,
                        },
                        dataType: 'json',
                        success: function (result) {
                            $("#id_input").val(id);
                            $("#accessory_input").val(result.record.accessory);
                            $("#vender_input").val(result.record.vender);
                            $("#hw_build_input").val(result.record.hw_build);
                            $("#config_input").val(result.record.config);
                            $("#status_input").val(result.record.status);
                            $("#qty_input").val(result.record.qty);
                            $("#box_sn_input").val(result.record.box_sn);
                            $("#sn_input").val(result.record.sn);
                            $("#contact_address_input").val(result.record.contact_address);
                            $("#Date_in_input").val(result.record.date_in);
                            $("#date_out_input").val(result.record.date_out);
                            $("#comment_input").val(result.record.comment);
                            $("#cat_sn_input").val(result.record.ca_sn);
                            $("#store_input").val(result.record.store);
                            $("#aapn_input").val(result.record.aapn);
                            $("#hhpn_input").val(result.record.hhpn);
                            $("#wo_input").val(result.record.wo);

                        }
                    });
                    $(".layui-laypage-btn")[0].click();
                }
            });

            //执行一个轮播实例
            carousel.render({
                elem: '#test1'
                , width: '100%' //设置容器宽度
                , height: 200
                , arrow: 'none' //不显示箭头
                , anim: 'fade' //切换动画方式
            });

            //将日期直接嵌套在指定容器中
            var dateIns = laydate.render({
                elem: '#laydateDemo'
                , position: 'static'
                , calendar: true //是否开启公历重要节日
                , mark: { //标记重要日子
                    '0-10-14': '生日'
                    , '2018-08-28': '新版'
                    , '2018-10-08': '神秘'
                }
                , done: function (value, date, endDate) {
                    if (date.year == 2017 && date.month == 11 && date.date == 30) {
                        dateIns.hint('一不小心就月底了呢');
                    }
                }
                , change: function (value, date, endDate) {
                    layer.msg(value)
                }
            });

            //分页
            laypage.render({
                elem: 'pageDemo' //分页容器的id
                , count: 100 //总页数
                , skin: '#1E9FFF' //自定义选中色值
                //,skip: true //开启跳页
                , jump: function (obj, first) {
                    if (!first) {
                        layer.msg('第' + obj.curr + '页', {offset: 'b'});
                    }
                }
            });

            slider.render({
                elem: '#sliderDemo'
                , input: true //输入框
            });

            {#//底部信息#}
            {#var footerTpl = lay('#footer')[0].innerHTML;#}
            {#lay('#footer').html(layui.laytpl(footerTpl).render({}))#}
            {#    .removeClass('layui-hide');#}


        });
    </script>
{% endblock %}