{% extends "base-left.html" %}
{% load staticfiles %}

{% block css %}
    <link rel="stylesheet" href="{% static 'plugins/datatables/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/plugins/layer/skin/layer.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-datetimepicker.min.css' %}">
    <!-- iCheck for checkboxes and radio inputs -->
{% endblock %}

{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <i class="ion ion-clipboard"></i>
                <div class="box-header">
                    <div class="btn-group pull-left">
                        <button type="button" class="btn btn-danger" title="返回" id="btnApplyReturn">
                            <i class="fa fa-undo"> 异常申请单--({{ apply.id }})</i>
                            {#                            <h3 class="box-title"></h3>#}
                        </button>
                    </div>
                    {#                    <div class="btn-group pull-left">&nbsp</div>#}
                    {#                    <div class="btn-group pull-left">#}
                    {#                        <button type="button" id="btnMachLoanConfirm" class="btn btn-primary">#}
                    {#                            <i class="glyphicon glyphicon-arrow-right"></i>機台借出確認#}
                    {#                        </button>#}
                    {#                    </div>#}
                    <input type=hidden name="apply" id="apply_id" value={{ apply.id }}>
                    <input type=hidden name="apply" id="apply_applyState" value={{ apply.applyState }}>
                </div>
                <div class="box-body" style="margin-top: 10px">
                    <table id="dtbList" class="display" cellspacing="0" width="100%" style="font-size: small;">
                        <thead>
                        <tr valign="middle">
                            <th><input type="checkbox" id="checkAll"></th>
                            <th>ID</th>
                            <th>申請人</th>
                            <th>申請工号</th>
                            <th>申請资位</th>
                            <th>异常原因</th>
                            <th>刷卡异常</th>
                            <th>工作日</th>
                            <th>工作时段</th>
                            <th>备注</th>
                            <th>申請狀態</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                    <br> <br>
                </div>
            </div>
        </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script src="{% static 'plugins/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'plugins/datatables/dataTables.const.js' %}"></script>
    <script src="{% static 'plugins/datatables/moment.min.js' %}"></script>
    <script src="{% static 'js/plugins/layer/layer.js' %}"></script>
    <script src="{% static 'plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap-datetimepicker.js' %}"></script>
    <!-- iCheck 1.0.1 -->
    <script type="text/javascript">
        $(function () {
            $('#OVERTIME-OV').addClass('active');
            $('#OVERTIME-OV-APPLYLEADER-LIST').addClass('active');

        });
    </script>

    <script type="text/javascript">
        var oDataTable = null;
        $(function () {
            oDataTable = initTable();

            function initTable() {
                var oTable = $('#dtbList').DataTable($.extend(true, {},
                    DATATABLES_CONSTANT.DATA_TABLES.DEFAULT_OPTION,
                    {
                        ajax: {
                            "url": "{% url 'overtime:ov-applyleaderAbsentlist-detail' %}",
                            "data": function (d) {

                                d.applyId = $("#apply_id").val();
                                {#d.lendDate = $("#lendDate").val();#}
                                {#d.applyUnit = $("#applyUnit").val();#}
                                {#d.lendUnit = $("#lendUnit").val();#}
                                {#d.applyUser = $("#applyUser").val();#}
                                {#d.applyState = $("#applyState").val();#}

                            }
                        },
                        columns: [
                            DATATABLES_CONSTANT.DATA_TABLES.COLUMN.CHECKBOX,
                            {
                                data: "id",
                                width: "5%",
                            },
                            {
                                data: "username__name",
                            },
                            {
                                data: "username__username",
                            },
                            {
                                data: "username__level",
                            },
                            {
                                data: "absent_type",
                                render: function (data, type, full, meta) {
                                    if (data == 1) {
                                        return '漏刷卡'
                                    } else if (data == 2) {
                                        return '办卡中'
                                    } else if (data == 3) {
                                        return '卡机异常'
                                    } else if (data == 4) {
                                        return '公务处理'
                                    } else {
                                        return "刷卡地点错误"
                                    }
                                }
                            },
                            {
                                data: "card_type",
                                render: function (data, type, full, meta) {
                                    if (data == 1) {
                                        return "第一段上班卡"
                                    } else if (data == 2) {
                                        return "第一段下班卡"
                                    } else if (data == 3) {
                                        return "第二段上班卡"
                                    } else if (data == 4) {
                                        return "第二段下班卡"
                                    } else if (data == 5) {
                                        return "补缺上班卡"
                                    } else if (data == 6) {
                                        return "补缺下班卡"
                                    }
                                }
                            },
                            {
                                data: "startTime",

                            },
                            {
                                data: "time_end_period",

                            },
                            {
                                data: "reason",
                            },
                            {
                                data: "fk_apply__applyState",
                                render: function (data, type, full, meta) {
                                    if (data == 1) {
                                        return '<font color="red">待簽核</font>'
                                    } else if (data == 2) {
                                        return '<font color="green">以簽核</font>'
                                    } else if (data == 3) {
                                        return "已取消"
                                    } else {
                                        return "以拒绝"
                                    }
                                }
                            },
                            {
                                data: "id",
                                bSortable: "false",
                                render: function (data, type, row, meta) {
                                    var ret = "<button title='同意' onclick='doAgreeApply("
                                        + data + ")'>同意</button>";
                                    ret = ret + "<button title='拒绝' onclick='doRefuseApply("
                                        + data + ")'>拒绝</button>";
                                    return ret;
                                }
                            }
                        ]
                    }
                ));
                return oTable;
            }

            function doAgreeApply(id) {

            }

            //查询
            $("#btnSearch").click(function () {
                oDataTable.ajax.reload();
            });

            //checkbox全选
            $("#checkAll").on("click", function () {
                if ($(this).prop("checked") === true) {
                    $("input[name='checkList']").prop("checked", $(this).prop("checked"));
                    $('#example tbody tr').addClass('selected');
                } else {
                    $("input[name='checkList']").prop("checked", false);
                    $('#example tbody tr').removeClass('selected');
                }
            });

            //刷新
            $("#btnRefresh").click(function () {
                oDataTable.ajax.reload();
            });

            // 返回
            $("#btnApplyReturn").on("click", function () {
                window.location.href = "/dqe/overtime/ov/applyleader/list";
            });

            //批量删除
            $("#btnDelete").click(function () {
                if ($("input[name='checkList']:checked").length == 0) {
                    layer.msg("请选择要删除的记录");
                    return;
                }

                var arrId = new Array();
                $("input[name='checkList']:checked").each(function () {
                    //alert($(this).val());
                    arrId.push($(this).val());
                });

                sId = arrId.join(',');

                layer.alert('确定删除吗？', {
                    title: '提示'
                    , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                    , time: 0 //不自动关闭
                    , btn: ['YES', 'NO']
                    , yes: function (index) {
                        layer.close(index);
                        $.ajax({
                            type: "POST",
                            {#url: "{% url 'dqe:mt-apply-delete' %}",#}
                            data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                            cache: false,
                            success: function (msg) {
                                if (msg.result) {
                                    layer.alert("操作成功！", {icon: 1});
                                    oDataTable.ajax.reload();
                                } else {
                                    layer.alert("操作失败！", {icon: 2});
                                }
                                return;
                            }
                        });
                    }
                });
            });


        })
        ;

        //编辑
        function doUpdate(id) {
            var div = layer.open({
                type: 2,
                title: '编辑',
                shadeClose: false,
                maxmin: true,
                area: ['800px', '400px'],
                {#content: ["{% url 'dqe:mt-apply-update' %}" + '?id=' + id,],#}
                end: function () {
                    //关闭时做的事情
                    oDataTable.ajax.reload();
                }
            });
        }

        //删除物料
        function doDelete(id) {
            layer.alert('确定删除吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        {#url: "{% url 'dqe:mt-apply-delete' %}",#}
                        data: {"id": id, csrfmiddlewaretoken: '{{ csrf_token }}'},  //防止post数据时报 csrf_token 403
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert('删除成功！', {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                //alert(msg.message);
                                layer.alert('删除失败！', {icon: 2});
                            }
                            return;
                        }
                    });
                }
            });

        }

        {#//详情#}
        {#function doDetail(id) {#}
        {#window.location.href = "{% url 'dqe:mt-apply-detail' %}?id=" + id;#}
        {# }#}

        /*input 时间输入选择*/
        $(".form_datetime").datetimepicker({
            language: 'zh',
            minView: 'month', //选择范围知道日期，不选择时分
            //weekStart: 1,
            //todayBtn:  1,
            autoclose: 1,
            todayHighlight: 1,
            //startView: 2,
            forceParse: 0,
            showMeridian: 1,
            format: 'yyyy-mm-dd'
        }).on('changeDate', function (ev) {
            $(this).datetimepicker('hide');
        });

        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();
        });

    </script>
    <script>
        function doAgreeApply() {
            sId = $('#apply_id').val()
            layer.alert('确定批准吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'overtime:ov-apply-confirm' %}",
                        data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("操作成功！", {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                layer.alert("操作失败！", {icon: 2});
                            }
                            return;
                        }
                    });
                }
            });

        }

        function doRefuseApply() {
            sId = $('#apply_id').val()
            layer.alert('确定拒绝吗？', {
                title: '提示'
                , icon: 3 //0:感叹号 1：对号 2：差号 3：问号 4：小锁 5：哭脸 6：笑脸
                , time: 0 //不自动关闭
                , btn: ['YES', 'NO']
                , yes: function (index) {
                    layer.close(index);
                    $.ajax({
                        type: "POST",
                        url: "{% url 'overtime:ov-apply-refuse' %}",
                        data: {"id": sId, csrfmiddlewaretoken: '{{ csrf_token }}'},
                        cache: false,
                        success: function (msg) {
                            if (msg.result) {
                                layer.alert("操作成功！", {icon: 1});
                                oDataTable.ajax.reload();
                            } else {
                                layer.alert("操作失败！", {icon: 2});
                            }
                            return;
                        }
                    });
                }
            });

        }
    </script>
{% endblock %}